WinFormsDopravniPodnik/Connected Services/CustomerJourneyService1/CustomerJourneyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65072/CustomerJourneyService/CustomerJourneyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLayer.BusinessLayerClass" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeId" type="xs:int" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="startStationID" type="xs:int" />
        <xs:element minOccurs="0" name="endStationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLayer.BusinessLayerClass" minOccurs="0" name="AddResult" nillable="true" type="q1:CustomerJourney" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>