WebDopravniPodnik/Connected Services/RouteService1/RouteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65072/RouteService/RouteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLayer.BusinessLayerClass" />
  <xs:element name="CreateRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleID" type="xs:int" />
        <xs:element minOccurs="0" name="driverID" type="xs:int" />
        <xs:element minOccurs="0" name="routeNumberID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLayer.BusinessLayerClass" minOccurs="0" name="CreateRouteResult" nillable="true" type="q1:Route" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndRouteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>