WebDopravniPodnik/Connected Services/RouteNumberService1/RouteNumberService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65072/RouteNumberService/RouteNumberService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLayer.BusinessLayerClass" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLayer.BusinessLayerClass" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfRouteNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessLayer.BusinessLayerClass" minOccurs="0" name="LoadResult" nillable="true" type="q2:RouteNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRNSDirectionOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeNumberID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRNSDirectionOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessLayer.BusinessLayerClass" minOccurs="0" name="GetRNSDirectionOneResult" nillable="true" type="q3:ArrayOfRouteNumberStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRNSDirectionTwo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeNumberID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRNSDirectionTwoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessLayer.BusinessLayerClass" minOccurs="0" name="GetRNSDirectionTwoResult" nillable="true" type="q4:ArrayOfRouteNumberStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>